.z-edit-text {
    display: inline;
    input {
        font-size: 1em;
        display: inline-block;
        width: 13em;
        height: 2em;
    }
    i {
        font-size: 1.2em;
        cursor: pointer;
    }
}