<z-page-header header-info="vm.headInfo"></z-page-header>
<header class="base-clone-content margin-bottom-20 margin-top-10">
    <div class="margin-bottom-20 clearfix">
        <div class="pull-left">
            <a ui-sref="pages.rolecreate" class="btn btn-primary">创建角色</a>
        </div>
        <form class="form-inline pull-right" ng-submit="vm.search()">
            <div class="form-group">
                <input type="text" ng-model="vm.searchWord" class="form-control" placeholder="请输入名称搜索">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </form>
    </div>
     <div class="panel panel-border" ng-show="vm.User.permission.super||vm.filtrate.keyword">
        <div class="panel-heading">
            筛选
        </div>
        <div class="panel-body">
            <div class="type-choose">
                <dl class="clearfix" ng-show="vm.filtrate.keyword">
                    <dt>关键词</dt>
                    <dd><a class="active">{{vm.filtrate.keyword}}<i class="fa fa-times margin-left-10 cursor-pointer" ng-click="vm.keywordClose()"></i></a></dd>
                </dl>
                <dl class="clearfix flex-box" ng-if="vm.User.permission.super">
                    <dt>地区</dt>
                    <dd class="flex-1"><a href="" ng-click="vm.selectRegion('region',a)" ng-class="{'active':a.active}" ng-repeat="a in vm.chosion.region">{{::a.name}}</a></dd>
                </dl>
                <dl class="clearfix flex-box" ng-if="vm.User.permission.super">
                    <dt>部门</dt>
                    <dd class="flex-1"><a href="" ng-click="vm.selectBranch('branch',a)" ng-class="{'active':a.active}" ng-repeat="a in vm.chosion.branch">{{::a.name}}</a></dd>
                </dl>
            </div>
        </div>
    </div>
</header>
<div class="panel panel-border">
    <div class="panel-heading">
        角色列表
         <div class="list-loading" ng-show="vm.listLoading">
            <ui-loading type="spin" size="sm"></ui-loading>
        </div>
    </div>
    <div class="panel-body">
      <table class="table">
          <thead>
          <tr>
              <th style="width:20%;">名称</th>
              <th style="width:20%;">地区</th>
              <th style="width:20%;">部门</th>
              <th style="width:40%;">操作</th>
          </tr>
          </thead>
        <tbody>
            <tr ng-repeat="item in vm.usersList track by $index">
                <td><span>{{item.roleName}}</span></td>
                <td><span>{{item.region}}</span></td>
                <td><span>{{item.branch}}</span></td>
                <td>

                    <a href="" ui-popover-template="vm.showRoleHtml" popover-trigger="focus" popover-placement="left">查看权限</a>
                    <a href="" class="margin-left-15" ng-hide="item.hideRole">权限设置</a>
                    <a href="" class="margin-left-15" ng-if="item.enbleRemove" ng-click="vm.removeRole(item.id)">删除</a></td>
            </tr>
           
        </tbody>
      </table>
     <p class="text-center text-danger" ng-show="vm.usersList.length==0">无相关数据</p>
    
        <ui-pagination-group ng-model="vm.page.page" items-per-page="vm.page.page_size" total-items="vm.page.total" ng-change="vm.changePage()" on-refresh="vm.changePage()"></ui-pagination-group>
    </div>
</div>