
<form name="createForm" class="form-horizontal" ng-submit="createForm.$valid&&vm.next()">
    <div class="form-group" ng-class="{'has-error':(createForm.appname.$touched||createForm.$submitted)&&(createForm.appname.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">应用名称:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <input ng-model="vm.app.appName" name="appname" type="text" class="form-control" required>
            <!--<div class="text-danger font-size-12 margin-top-5">有效用户名</div>-->
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>

    </div>
    <div class="form-group" ng-class="{'has-error':(createForm.region.$touched||createForm.$submitted)&&(createForm.region.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">所属地区:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <div ng-if="!vm.super"> <input ng-model="vm.app.region" name="region" type="text" class="form-control" required disabled></div>
           <z-select ng-if="vm.super" select-list-data="vm.regionSelectList"  select-model="vm.app.region" select-callback="vm.getBranch()"></z-select>
            <!--<div class="text-danger font-size-12 margin-top-5">有效用户名</div>-->
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':(createForm.branch.$touched||createForm.$submitted)&&(createForm.branch.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">所属部门:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <div ng-if="!vm.super"><input ng-model="vm.app.branch" name="branch" type="text" class="form-control" required disabled></div>
            <z-select ng-if="vm.super" select-list-data="vm.branchSelectList"  select-model="vm.app.branch"></z-select>
            <!--<div class="text-danger font-size-12 margin-top-5">有效用户名</div>-->
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':(createForm.url.$touched||createForm.$submitted)&&(createForm.url.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">URL:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <input ng-model="vm.app.url" name="url" type="text" class="form-control" required>
            <!--<div class="text-danger font-size-12 margin-top-5">有效用户名</div>-->
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="control-label col-md-3 col-lg-2">接入类型:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4" style="padding-top:7px;">
            <ui-radio-group ng-model="vm.app.urlType">
                <ui-radio value="'Iframe'" class="margin-right-10">Iframe嵌入</ui-radio>
                <ui-radio value="'Url'" class="margin-right-10">Url跳转</ui-radio>
            </ui-radio-group>
        </div>
    </div>
     <div class="form-group" ng-class="{'has-error':(createForm.datafrom.$touched||createForm.$submitted)&&(createForm.datafrom.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">数据来源:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <input ng-model="vm.app.datafrom" name="datafrom" type="text" class="form-control" required>
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':(createForm.dict.$touched||createForm.$submitted)&&(createForm.dict.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">应用简介:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <textarea rows="6" cols="" ng-model="vm.app.dict" name="dict" required class="form-control"></textarea>
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>

    <div class="main-footer">
        <div class="pull-right padding-right-15 padding-top-10"><button type="submit" class="btn btn-primary btn-sm"><span ng-show="vm.btnLoading"><i class="fa fa-cog fa-spin fa-fw fa-lg"></i></span> <span>{{vm.btnName}}</span></button></div>
    </div>
</form>