<div class="modal-header">
    <div class="modal-title">
        <span ng-if="!vm.isHtml">确认{{vm.action}}</span>
        <span ng-if="!vm.isHtml" class="text-danger">{{vm.title}}</span>
        <span ng-if="vm.isHtml" ng-bind-html="vm.title"></span>
        <span>?</span>
    </div>
</div>
<div class="modal-body">
    <button type="buton" class="btn btn-default btn-sm" ng-click="vm.cancel()">取消</button>
    <button type="buton" class="btn btn-danger btn-sm" ng-click="vm.ok()">{{vm.action}}</button>
</div>