$green:#3787DD;
$green-deep:#3379C6;
$white:white;
$black:black;
$ddd:#ddd;
$ccc:#ccc;
$color333:#333;
$color666:#666;
$yellow-light:#FFD67E;
$yellow:#FC952C;
$f3:#f3f3f3;
$f2:#f2f2f2;
$f1:#f1f1f1;
$fa:#fafafa;
$bordercolor:#E6E9EA;

$top-h:60px;
%top-bgcolor {
    background-image:  linear-gradient(to right, $green-deep, $green);
}

body {
    font-family: Helvetica Neue, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei;
    color: #666;
    background:#F5F5F5;
}

.popover {
    color:$color666;
    font-family: Helvetica Neue, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei;
}

.form-group .has-icon {
    line-height: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.modal-header,
.modal-footer {
    padding: 10px 15px;
}
.text-warning {
    color: $yellow;
}
.text-default{
    color:lighten($color666,15%);
}
.text-danger{
    color: #c7254e;
                   
}
.bg-danger{
     background-color: #f9f2f4;
}
.cursor-pointer:hover {
    cursor: pointer;
}

.font-size-13 {
    font-size: 13px;
}
.font-size-12 {
    font-size: 12px;
}

i,
span {
    vertical-align: middle;
}

.modal-header {
    background-color: $green-deep;
    color: $white;
}

.modal-close {
    color: $white;
}

.modal-dialog .modal-close:hover {
    color: $f1;
}

.alert-dialog .modal-dialog .alert-icon-confirm {
    color: $white;
}
.panel-heading{
    position: relative;
    .list-loading{
        position: absolute;
        top:8px;
        left:50%;
    }
    &.head-bg{
       background-image:  linear-gradient(to right, #D8EAFC, #B9F7EA);
    }
}
.panel-body{
    position: relative;
    .list-loading{
        position: absolute;
        top:8px;
        left:50%;
    }
}
.panel.panel-border-shadow {
    // box-shadow: 1px 1px 5px #ccc;
    box-shadow: none;
    &:hover {
        // box-shadow: 1px 1px 5px #ccc;
        box-shadow: none;
        border-color: $green;
    }
    &.border-left-strong {
        border-left: 3px solid $green;
    }
    .panel-tool {
        font-size: 14px;
        color: #434DAD;
        i {
            opacity: 0.8;
        }
        i:hover {
            opacity: 1;
        }
    }
}

.flex-box {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}