<z-page-header header-info="vm.headInfo"></z-page-header>

<form name="createForm" class="form-horizontal" ng-submit="createForm.$valid&&vm.create()">
    <div class="form-group" ng-class="{'has-error':(createForm.username.$touched||createForm.$submitted)&&(createForm.username.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">角色名称:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4">
            <input ng-model="vm.user.username" name="username" type="text" class="form-control" required>
        </div>
        <div class="control-label col-md-4 col-lg-6">
            <span class="text-info pull-left">!</span>
        </div>
    </div>
    <div class="form-group" ng-if="vm.super">
         <label for="" class="control-label col-md-3 col-lg-2">地区:<span class="text-danger">*</span></label>
          <div class="col-md-5 col-lg-4">
               <z-select select-list-data="vm.regionSelectList"  select-model="vm.user.region" select-callback="vm.getBranch()" placeholder="--请选择地区--"></z-select>
          </div>
    </div>
    <div class="form-group" ng-if="vm.super">
         <label for="" class="control-label col-md-3 col-lg-2">部门:<span class="text-danger">*</span></label>
          <div class="col-md-5 col-lg-4">
               <z-select select-list-data="vm.branchSelectList"  select-model="vm.user.branch" placeholder="--请选择部门--"></z-select>
          </div>
    </div>
    <div class="form-group" ng-class="{'has-error':(createForm.username.$touched||createForm.$submitted)&&(createForm.username.$error.required)}">
        <label for="" class="control-label col-md-3 col-lg-2">权限设置:<span class="text-danger">*</span></label>
        <div class="col-md-5 col-lg-4 control-label" style="text-align:left;">
            <p><span class="permission-name">应用服务管理</span><ui-switch ng-model="vm.permission.appManage" type="primary"></ui-switch></p>
            <p><span class="permission-name">用户管理</span><ui-switch ng-model="vm.permission.userManage" type="primary"></ui-switch></p>
            <p><span class="permission-name">角色管理</span><ui-switch ng-model="vm.permission.roleManage" type="primary"></ui-switch></p>
            <p><span class="permission-name">审批中心</span><ui-switch ng-model="vm.permission.approveManage" type="primary"></ui-switch></p>
        </div>
     
    </div>
    <div class="main-footer">
        <div class="pull-right padding-right-15 padding-top-10"><button type="submit" class="btn btn-primary btn-sm"><span ng-show="vm.btnLoading"><i class="fa fa-cog fa-spin fa-fw fa-lg" ></i></span> <span>{{vm.btnName}}</span></button></div>
    </div>
</form>