.page-header{
    margin:10px 0 20px;
    .pull-left{
        i{
            margin-right:8px;
            font-size: 22px;
        }
    }
    .page-header-btn{
        padding:7px 16px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
        line-height: 0;
        background: #3787DD;
        color: #fff;
        margin-left:15px;
        opacity: 0.8;
        i{
            font-size:12px;
            margin-right:3px;
        }
        font-size: 12px;
        &:hover{
            opacity: 1;
        }
    }
}