.base-clone-content {
    header {
        font-size: 26px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    dt {
        font-weight: normal;
    }
    dl {
        margin-bottom: 0;
        border-bottom: 1px solid $bordercolor;
    }
    .type-choose {
        border-top: 1px solid $bordercolor;
        // margin-top:-2px;
        dt {
            width: 120px;
            background: $f3;
            padding: 10px;
        }
        dt,
        dd {
            float: left;
        }
        dd {
            padding: 10px 10px 0;
            a {
                height: 28px;
                line-height: 28px;
                margin-bottom: 10px;
                text-align: center;
                color: $color666;
                display: inline-block;
                padding: 0 15px;
                margin-left: 10px;
                min-width: 100px;
                text-decoration: none;
                &:hover {
                    color: $green;
                    //  border: 1px solid lighten($color666, 40%);
                }
                &.active {
                    height: 26px;
                    line-height: 26px;
                    padding: 0 14px;
                    border: 1px solid lighten($color666, 40%);
                    color: #E4393C;
                }
                &.re-hover {
                    .remove {
                        visibility: hidden;
                    }
                    &:hover {
                        height: 26px;
                        line-height: 26px;
                        padding: 0 14px;
                        border: 1px solid lighten($color666, 40%);
                        color: #E4393C;
                        .remove {
                            visibility: visible;
                        }
                    }
                }
                &.add {
                    height: 26px;
                    line-height: 26px;
                    padding: 0 14px;
                    border: 1px solid lighten($color666, 40%);
                    &:hover {
                        border-color: $green;
                    }
                }
            }
        }
    }
    .list-info {
        dl {
            display: table;
            width: 100%;
            padding: 20px 0;
            border-bottom-style: dashed;
        }
        dt,
        dd {
            display: table-cell;
            vertical-align: middle;
        }
        p {
            font-size: 13px;
        }
        dd {
            width: 150px;
        }
    }
}