.login-box{
     position: fixed;
    top:0;left:0;
    background:  $green;
    overflow: hidden;
}
.login-bg{
   
    position: absolute;
    z-index: -1;
    width:100%;
    height:100%;
    top:0;left:0;
    opacity: 0.5;
}
.login-title{
    color: $white;
    margin-top:100px;
    margin-bottom: 20px;
    text-align: center;
    .logo{
        font-size: 24px;}
}
.login-body{
    position: relative;
    color:$white;
    .bg{
        position: absolute;
        top:0;left:0;width:100%;height: 100%;
         background: $white;
    opacity: 0.2;
    z-index: -1;
    }
    .content{    
    padding:30px;
    }
    .content-name{
        font-weight: 300;
        font-size: 23px;
        margin-bottom: 25px;
    }
    // .loginerror .content-name{
    //     margin-bottom: 4px;
    // }
   width:400px;
    margin: 0 auto;
}
.show-error{
    position: absolute;
    top:-25px;
    right: 0;
}