<z-page-header header-info="vm.headInfo"></z-page-header>
<header class="base-clone-content margin-bottom-20 margin-top-10">
    <div class="panel panel-border-shadow">
        <div class="panel-heading">
            筛选
            <div class="list-loading" ng-show="vm.listLoading">
            <ui-loading type="spin" size="sm"></ui-loading>
        </div>
        </div>
        <div class="panel-body">
            <div class="margin-bottom-10 clearfix">
                <button class="btn" ng-disabled="vm.isMyBranch" ng-class="vm.isMyBranch?'btn-default text-danger bg-danger':'btn-info'" ng-click="vm.myBranch()" ng-if="!vm.super">我的部门应用<span ng-show="vm.isMyBranch"> √</span></button>
                <form class="form-inline pull-right" ng-submit="vm.search()">
                    <div class="form-group">
                        <input ng-model="vm.searchWord" type="text" class="form-control" placeholder="请输入关键词">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </form>
            </div>
            <div class="type-choose">
                <dl class="clearfix" ng-show="vm.filtrate.keyword">
                    <dt>关键词</dt>
                    <dd><a class="active">{{vm.filtrate.keyword}}<i class="fa fa-times margin-left-10 cursor-pointer" ng-click="vm.keywordClose()"></i></a></dd>
                </dl>
                <dl class="clearfix flex-box">
                    <dt>地区</dt>
                    <dd class="flex-1"><a href="" ng-click="vm.selectRegion('region',a)" ng-class="{'active':a.active}" ng-repeat="a in vm.chosion.region">{{::a.name}}</a></dd>
                </dl>
                <dl class="clearfix flex-box">
                    <dt>部门</dt>
                    <dd class="flex-1"><a href="" ng-click="vm.selectBranch('branch',a)" ng-class="{'active':a.active}" ng-repeat="a in vm.chosion.branch">{{::a.name}}</a></dd>
                </dl>
            </div>
        </div>
    </div>

</header>

<section class="row" z-interleave>
    <div class="col-sm-6 col-sm-4 col-lg-3 user" z-interleave-class="user-clear" ng-repeat="item in vm.usersList">
        <div class="panel panel-border-shadow">
            <z-more-panel open-panel="item.openMoreData"></z-more-panel>
            <div class="panel-heading clearfix head-bg">
                <strong class="pull-left user-name">{{::item.appname}}</strong>
                <div class="panel-tool pull-right">
                   
                    <i ng-click="vm.pushLove(item)" class="fa cursor-pointer margin-right-10" ng-class="item.hasLove?'fa-heart':'fa-heart-o'" ui-tooltip="{{item.hasLove?'取消收藏':'收藏'}}"></i>
                    <!-- <i class="fa fa-pencil cursor-pointer margin-right-10" ui-tooltip="修改" ng-click="vm.editUser(item.id)"></i>  -->
                    <!-- <i class="fa fa-trash-o cursor-pointer" ng-click="vm.deleteUser(item)" ui-tooltip="删除"></i> -->
                </div>
            </div>
            <div class="panel-body user-infos">
                <p>
                    <strong>应用简介 : </strong>
                    <span class="panel-tool pull-right"><i ng-click="vm.openDetail(item);$event.stopPropagation();" class="fa fa-info-circle cursor-pointer margin-right-10" ui-tooltip="详情"></i></span>
                </p>
                <p class="text-default text-dict">
                    {{::item.dict}}
                </p>
                <p class="text-right">
                    <a ng-href="{{item.url}}" ng-if="item.enabled&&item.openType=='url'" target="_blank" class="btn btn-primary btn-sm">进入应用</a>
                    <button class="btn btn-primary btn-sm" ng-if="item.enabled&&item.openType=='iframe'" ng-click="vm.openApp(item)">进入应用</button>
                    <button class="btn btn-sm" ng-class="item.applyStatus==1?'btn-info':'btn-success'" ng-if="!item.enabled" ng-click="vm.applyFor(item)" ng-disabled="item.applyStatus==1">{{item.applyStatus==1?'申请中...':'申请使用'}}</button>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="panel panel-border-shadow text-center text-danger" ng-show="vm.usersList.length==0">
    <div class="panel-body">
        无相关数据
    </div>
</div>
<div class="panel panel-border-shadow">
    <div class="panel-body">
        <div class="list-loading" ng-show="vm.listLoading">
            <ui-loading type="spin" size="sm"></ui-loading>
        </div>
        <ui-pagination-group ng-model="vm.page.page" items-per-page="vm.page.page_size" total-items="vm.page.total" ng-change="vm.changePage()" on-refresh="vm.changePage()"></ui-pagination-group>
    </div>
</div>